@import "tailwindcss";

@theme {

  /* Colors */
  --color-custom-white : rgb(237, 237, 237);
  --color-custom-red: rgb(224, 163, 163);
  --color-custom-grey: rgb(139, 138, 138);



  /* Fonts */
  --font-rubik: "Rubik", "sans-serif";
  --font-nunito: "Nunito Sans", "sans-serif";

  /* Animation */
  

}

body{
    font-family: var(--font-nunito);
    
    
}